Repository lundegaard/gatsby-theme-fast-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:pkg, stylelint, stylelint --syntax=scss

.lintstagedrc.json:

{
	"**/*.js": ["prettier --write", "yarn lint:js --fix", "git add"],
	"**/*.{mdx,html,json}": ["prettier --write", "git add"],
	"**/package.json": ["yarn lint:pkg", "git add"],
	"**/*.css": ["stylelint", "git add"],
	"**/*.scss": ["stylelint --syntax=scss", "git add"]
}

seo
  apps/zoe/gatsby-config.js
  apps/zoe/package.json
  apps/zoe/src/intl/cs.json
  apps/zoe/src/intl/en.json
  apps/zoe/src/pages/index.js
  packages/gatsby-theme-fast-ai/gatsby-config.js
  packages/gatsby-theme-fast-ai/index.js
  packages/gatsby-theme-fast-ai/src/components/Seo.js
  packages/gatsby-theme-fast-ai/src/messages.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

First PoC of hooking SA with React
  apps/zoe/src/pages/index.js
  packages/ui-components/src/components/SuperField/SuperField.js
  packages/ui-components/src/components/SuperField/SuperField.test.js
  packages/ui-components/src/components/SuperField/index.js
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix

SelectField
  .huskyrc
  .plop/uiComponent/stories.js.hbs
  apps/storybook/src/components/Checkbox.stories.js
  apps/storybook/src/components/Heading.stories.js
  apps/storybook/src/components/Label.stories.js
  apps/storybook/src/components/Radio.stories.js
  apps/storybook/src/components/SelectField.stories.js
  apps/storybook/src/components/TextField.stories.js
  apps/storybook/src/components/TextInput.stories.js
  apps/storybook/src/components/Toggle.stories.js
  packages/ui-components/src/components/Heading/__snapshots__/Heading.test.js.snap
  packages/ui-components/src/components/Label/Label.js
  packages/ui-components/src/components/Label/Label.test.js
  packages/ui-components/src/components/Label/__snapshots__/Label.test.js.snap
  packages/ui-components/src/components/Label/index.js
  packages/ui-components/src/components/SelectField/__snapshots__/SelectField.test.js.snap
  packages/ui-components/src/components/SuperField/__snapshots__/SuperField.test.js.snap
  packages/ui-components/src/components/TextField/__snapshots__/TextField.test.js.snap
Due: prettier --write, yarn lint:js --fix

Docs examples app with mdx rendering
  apps/docs-examples/.eslintrc.js
  apps/docs-examples/README.md
  apps/docs-examples/content/assets/zoe-ai-logo.svg
  apps/docs-examples/gatsby-config.js
  apps/docs-examples/package.json
  apps/docs-examples/src/components/ZoeLogo.js
  apps/docs-examples/src/gatsby-theme-fast-ai/components/Logo.js
  apps/docs-examples/src/gatsby-theme-fast-ai/links.js
  apps/docs-examples/src/intl/cs.json
  apps/docs-examples/src/intl/en.json
  apps/docs-examples/src/pages/code.mdx
  apps/docs-examples/src/pages/features.md
  apps/docs-examples/src/pages/images.mdx
  apps/docs-examples/src/pages/index.mdx
  apps/docs-examples/src/pages/tables.mdx
  apps/docs-examples/static/favicon.png
  package.json
  packages/gatsby-theme-fast-ai/index.js
  packages/gatsby-theme-fast-ai/package.json
  packages/gatsby-theme-fast-ai/src/components/GatsbyCssBaseline.js
  packages/gatsby-theme-fast-ai/src/templates/MdxPage.js
  packages/gatsby-theme-fast-ai/src/templates/Page.js
  packages/gatsby-theme-fast-ai/src/theme.js
  packages/ui-components/src/components/Heading/Heading.js
  packages/ui-components/src/components/Heading/Heading.test.js
  packages/ui-components/src/components/Heading/index.js
  packages/ui-components/src/components/Text/Text.js
  packages/ui-components/src/index.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

test snapshots update
  packages/ui-components/src/components/Heading/__snapshots__/Heading.test.js.snap
  packages/ui-components/src/components/Text/__snapshots__/Text.test.js.snap
Due: none

chore: Updating hustky and lint-staged
  .nvmrc
  .plop/uiComponent/stories.js.hbs
  apps/storybook/src/components/Input.stories.js
  apps/storybook/src/components/Select.stories.js
  apps/storybook/src/components/SuperFieldHint.stories.js
  apps/storybook/src/components/SuperFieldLabel.stories.js
  package.json
  packages/ui-components/src/components/Input/Input.js
  packages/ui-components/src/components/Input/Input.test.js
  packages/ui-components/src/components/Input/__snapshots__/Input.test.js.snap
  packages/ui-components/src/components/Input/index.js
  packages/ui-components/src/components/Select/Select.js
  packages/ui-components/src/components/Select/Select.test.js
  packages/ui-components/src/components/Select/__snapshots__/Select.test.js.snap
  packages/ui-components/src/components/Select/index.js
  packages/ui-components/src/components/SelectField/SelectField.js
  packages/ui-components/src/components/SelectField/__snapshots__/SelectField.test.js.snap
  packages/ui-components/src/components/SuperField/SuperField.js
  packages/ui-components/src/components/SuperField/contexts.js
  packages/ui-components/src/components/SuperField/hooks.js
  packages/ui-components/src/components/SuperField/index.js
  packages/ui-components/src/components/SuperField/utils.js
  packages/ui-components/src/components/SuperFieldHint/SuperFieldHint.js
  packages/ui-components/src/components/SuperFieldHint/SuperFieldHint.test.js
  packages/ui-components/src/components/SuperFieldHint/__snapshots__/SuperFieldHint.test.js.snap
  packages/ui-components/src/components/SuperFieldHint/index.js
  packages/ui-components/src/components/SuperFieldLabel/SuperFieldLabel.js
  packages/ui-components/src/components/SuperFieldLabel/SuperFieldLabel.test.js
  packages/ui-components/src/components/SuperFieldLabel/__snapshots__/SuperFieldLabel.test.js.snap
  packages/ui-components/src/components/SuperFieldLabel/index.js
  packages/ui-components/src/components/TextField/TextField.js
  packages/ui-components/src/components/TextField/__snapshots__/TextField.test.js.snap
  packages/ui-components/src/index.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

PR fixes, additional component for inline code
  apps/docs-examples/gatsby-config.js
  apps/docs-examples/package.json
  apps/docs-examples/src/pages/code.mdx
  apps/docs-examples/src/pages/features.md
  apps/docs-examples/src/pages/index.mdx
  package.json
  packages/gatsby-theme-fast-ai/gatsby-config.js
  packages/gatsby-theme-fast-ai/package.json
  packages/gatsby-theme-fast-ai/src/templates/MdxPage.js
  packages/gatsby-theme-fast-ai/src/theme.js
  packages/ui-components/src/components/Heading/Heading.js
  packages/ui-components/src/components/Text/Text.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

test fix
  packages/ui-components/src/components/Heading/__snapshots__/Heading.test.js.snap
  packages/ui-components/src/components/Text/__snapshots__/Text.test.js.snap
Due: none

Docs examples (#3)
  apps/docs-examples/.eslintrc.js
  apps/docs-examples/README.md
  apps/docs-examples/content/assets/zoe-ai-logo.svg
  apps/docs-examples/gatsby-config.js
  apps/docs-examples/package.json
  apps/docs-examples/src/components/ZoeLogo.js
  apps/docs-examples/src/gatsby-theme-fast-ai/components/Logo.js
  apps/docs-examples/src/gatsby-theme-fast-ai/links.js
  apps/docs-examples/src/intl/cs.json
  apps/docs-examples/src/intl/en.json
  apps/docs-examples/src/pages/code.mdx
  apps/docs-examples/src/pages/features.md
  apps/docs-examples/src/pages/images.mdx
  apps/docs-examples/src/pages/index.mdx
  apps/docs-examples/src/pages/tables.mdx
  apps/docs-examples/static/favicon.png
  package.json
  packages/gatsby-theme-fast-ai/gatsby-config.js
  packages/gatsby-theme-fast-ai/index.js
  packages/gatsby-theme-fast-ai/package.json
  packages/gatsby-theme-fast-ai/src/components/GatsbyCssBaseline.js
  packages/gatsby-theme-fast-ai/src/templates/MdxPage.js
  packages/gatsby-theme-fast-ai/src/templates/Page.js
  packages/gatsby-theme-fast-ai/src/theme.js
  packages/ui-components/src/components/Heading/Heading.js
  packages/ui-components/src/components/Heading/__snapshots__/Heading.test.js.snap
  packages/ui-components/src/components/Text/Text.js
  packages/ui-components/src/components/Text/__snapshots__/Text.test.js.snap
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

radio, radiogroup and checkbox
  apps/storybook/src/components/Checkbox.stories.js
  apps/storybook/src/components/CheckboxField.stories.js
  apps/storybook/src/components/Label.stories.js
  apps/storybook/src/components/Radio.stories.js
  apps/storybook/src/components/RadioField.stories.js
  apps/storybook/src/components/RadioGroup.stories.js
  apps/storybook/src/components/RadioGroupField.stories.js
  apps/zoe/src/pages/index.js
  packages/gatsby-theme-fast-ai/src/theme.js
  packages/ui-components/src/components/Checkbox/Checkbox.js
  packages/ui-components/src/components/Checkbox/Checkbox.test.js
  packages/ui-components/src/components/Checkbox/__snapshots__/Checkbox.test.js.snap
  packages/ui-components/src/components/Checkbox/index.js
  packages/ui-components/src/components/CheckboxField/CheckboxField.js
  packages/ui-components/src/components/CheckboxField/CheckboxField.test.js
  packages/ui-components/src/components/CheckboxField/__snapshots__/CheckboxField.test.js.snap
  packages/ui-components/src/components/CheckboxField/index.js
  packages/ui-components/src/components/Label/Label.js
  packages/ui-components/src/components/Label/Label.test.js
  packages/ui-components/src/components/Label/__snapshots__/Label.test.js.snap
  packages/ui-components/src/components/Label/index.js
  packages/ui-components/src/components/Radio/Radio.js
  packages/ui-components/src/components/Radio/Radio.test.js
  packages/ui-components/src/components/Radio/__snapshots__/Radio.test.js.snap
  packages/ui-components/src/components/Radio/index.js
  packages/ui-components/src/components/RadioGroup/RadioGroup.js
  packages/ui-components/src/components/RadioGroup/RadioGroup.test.js
  packages/ui-components/src/components/RadioGroup/__snapshots__/RadioGroup.test.js.snap
  packages/ui-components/src/components/RadioGroup/index.js
  packages/ui-components/src/components/RadioGroupField/RadioGroupField.js
  packages/ui-components/src/components/RadioGroupField/RadioGroupField.test.js
  packages/ui-components/src/components/RadioGroupField/__snapshots__/RadioGroupField.test.js.snap
  packages/ui-components/src/components/RadioGroupField/index.js
  packages/ui-components/src/components/Select/Select.js
  packages/ui-components/src/components/SuperFieldHint/SuperFieldHint.js
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix

slider
  apps/storybook/src/components/Slider.stories.js
  apps/storybook/src/components/SliderField.stories.js
  apps/zoe/src/pages/index.js
  packages/gatsby-theme-fast-ai/src/theme.js
  packages/ui-components/src/components/CheckboxField/CheckboxField.js
  packages/ui-components/src/components/CheckboxField/__snapshots__/CheckboxField.test.js.snap
  packages/ui-components/src/components/Radio/Radio.js
  packages/ui-components/src/components/Radio/__snapshots__/Radio.test.js.snap
  packages/ui-components/src/components/Slider/Slider.js
  packages/ui-components/src/components/Slider/Slider.test.js
  packages/ui-components/src/components/Slider/__snapshots__/Slider.test.js.snap
  packages/ui-components/src/components/Slider/index.js
  packages/ui-components/src/components/SliderField/SliderField.js
  packages/ui-components/src/components/SliderField/SliderField.test.js
  packages/ui-components/src/components/SliderField/__snapshots__/SliderField.test.js.snap
  packages/ui-components/src/components/SliderField/index.js
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix

Form example in Strorybook
  .plop/uiComponent/stories.js.hbs
  apps/storybook/.storybook-ui/main.js
  apps/storybook/.storybook-ui/preview.js
  apps/storybook/src/components/Forms.stories.mdx
  apps/storybook/src/components/Radio.stories.js
  apps/storybook/src/components/Radios.stories.mdx
  apps/storybook/src/components/Slider.stories.js
  packages/gatsby-theme-fast-ai/gatsby-browser.js
  packages/ui-components/package.json
  packages/ui-components/src/components/Button/__snapshots__/Button.test.js.snap
  packages/ui-components/src/components/RadioGroup/__snapshots__/RadioGroup.test.js.snap
  packages/ui-components/src/components/SelectField/SelectField.js
  packages/ui-components/src/components/SelectField/__snapshots__/SelectField.test.js.snap
  packages/ui-components/src/components/SliderField/SliderField.js
  packages/ui-components/src/components/SliderField/__snapshots__/SliderField.test.js.snap
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

tunning the slider
  apps/zoe/src/pages/index.js
  packages/ui-components/src/components/CheckboxField/CheckboxField.js
  packages/ui-components/src/components/FormGroup/FormGroup.js
  packages/ui-components/src/components/FormGroup/FormGroup.test.js
  packages/ui-components/src/components/FormGroup/__snapshots__/FormGroup.test.js.snap
  packages/ui-components/src/components/FormGroup/index.js
  packages/ui-components/src/components/Label/Label.js
  packages/ui-components/src/components/Label/__snapshots__/Label.test.js.snap
  packages/ui-components/src/components/RadioGroup/RadioGroup.js
  packages/ui-components/src/components/RadioGroup/__snapshots__/RadioGroup.test.js.snap
  packages/ui-components/src/components/RadioGroupField/RadioGroupField.js
  packages/ui-components/src/components/RadioGroupField/__snapshots__/RadioGroupField.test.js.snap
  packages/ui-components/src/components/Select/Select.js
  packages/ui-components/src/components/Select/__snapshots__/Select.test.js.snap
  packages/ui-components/src/components/SliderField/SliderField.js
  packages/ui-components/src/components/SliderField/__snapshots__/SliderField.test.js.snap
  packages/ui-components/src/components/SuperFieldHint/SuperFieldHint.js
  packages/ui-components/src/components/SuperFieldHint/__snapshots__/SuperFieldHint.test.js.snap
  packages/ui-components/src/components/Text/Text.js
  packages/ui-components/src/components/Text/__snapshots__/Text.test.js.snap
  packages/ui-components/src/contexts/FormGroupContext.js
  packages/ui-components/src/createTheme.js
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix

lerna
  lerna.json
  yarn.lock
Due: prettier --write

v0.0.2-alpha.0
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: publish config
  apps/zoe/src/pages/index.js
  lerna.json
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.0.2-alpha.1
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

v0.0.2-alpha.2
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  tools/copy-files.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

chore: size-snapshot
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/size-snapshot.json
Due: prettier --write, yarn lint:pkg

v0.0.2-alpha.3
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

v0.0.2-alpha.3
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  babel.config.js
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-setup/src/gatsby-node.js
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.0.2-alpha.4
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

v0.0.2-alpha.4
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  babel.config.js
  lerna.json
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  packages/ui-components/size-snapshot.json
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg
